:root {
    // colors
    --black: #212529;
    --white: #ffffff;
    --yellow: #ffc107;
    --blue: #2869d9;
    // hover-colors
    --hoverYellow: #e0a809;
    --hoverBlue: #0062cc;
    //margins & padding
    --container: 30px 100px 30px 100px;
    --responsive-container: 50px;
    //box-shadow
    --boxShadowContainer: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}
